<section class="container">
    <div class="card">

        <h1 class="title">D10Roll Calc 🎲</h1>

        <div class="area-input">
            <input type="text" class="custom-width" [(ngModel)]="inputString" placeholder="Digite o lance Ex. {(7+10)}">
            <button (click)="sendString()">Enviar</button>
        </div>

        <div class="area-info">
            <div class="label">Números informados:</div>
            <div class="result">{{ findNumbs }}</div>
            
            <div class="label">Números editados:</div>
            <div class="result">{{ arrayEdit }}</div>

            <div class="label">Resultado:</div>
            <div class="result">{{ result }}</div>
        </div>

        <div class="emoji-feedback">
            <span class="result-emoji">{{ resultEmoji }}</span>
        </div>

        <footer class="footer">
            <div class="footer-content">
                <p>Desenvolvido por <a href="https://github.com/gcampos04" target="_blank" class="author-link" title="Ver perfil no GitHub"><strong>Gabriel Campos</strong></a></p>
            </div>
        </footer>
    </div>
</section>
